.center {
    margin: auto;
    width: 80%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-image: url("https://secure.static.tumblr.com/3231da342f69569c77057a2e3caf5bcb/6ijaatm/tcsn8k9wr/tumblr_static_431411.jpg");
}

.low {
  /*background-color: lightblue;*/
  background-image: url("http://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/oso.jpg?itok=2TXIGGNk");*/
}

.medium {
  /*background-color: green;*/
  background-image: url("http://www.nasa.gov/sites/default/files/styles/full_width_feature/public/sdo_100millionth_aia_193-wide.jpg?itok=v4X7Eu4G");
}

.high {
  /*background-color: indigo;*/
  background-image: url("http://www.nasa.gov/images/content/756746main_20130620-m2.9flare_428-321.jpg");
}

#weather {
  background-color: red;
  text-align: center;
  width: 100%;
}

#power-saving-status {
  color: indigo;
  font-style: oblique;
  font-size: 50px;
  /*color: yellow;*/
}

#help {
  font-style: oblique;
  font-size: 60px;
  color: yellow;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

body {
  max-width: 100
  margin-bottom: 120px;
  text-align: center;
}

#temperature {
  font-size: 5em;
  color: yellow;
  align: center;
}

IMG.displayed {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto }

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://orig02.deviantart.net/2278/f/2007/364/6/7/garianger_fyord_by_n1anaki.jpg) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
