.low {
  background-color: lightblue;
}

.medium {
  background-color: green;
}

#weather {
  background-color: red;
  text-align: center;
}

#power-saving-status {
  font-style: oblique;
  font-size: 60px;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  max-width: 100
  margin-bottom: 120px;
}

IMG.displayed {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto }
